header {
    /* text-align: center; */

    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    position: relative;
    margin-bottom: 15px;
    font-weight: bolder;
}

#valence-logo{
    height: 100%;
    max-height: 60px;
    width: auto;
    padding-bottom: 10px;
}
/* .jumbotron.jumbotron-fluid{
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50px;
} */


.row.bottom-row{
    justify-content: center;
    /* padding-top: 20px; */
}

.navbar{
    background: #5D6D7E;
}

th.text-info{
    min-width: 150px;
}

.salaried-div{
    display: none;
    /* visibility: 'hidden'; */
}
.ownerOp-div{
    display: none;
    /* visibility: 'hidden'; */
}

ul {
    list-style-type: none;
    padding-left: 0 !important;
}

.nav.nav-tabs {
    margin-top: 20px;
  }

#payrollButtons {
    display: none;
}

#help-link{
    float: right;
    padding: 10px;
  }