header {
  /* text-align: center; */
  box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
  position: relative;
  font-weight: bolder;
}

#valence-logo{
  height: 100%;
  max-height: 60px;
  width: auto;
  padding-bottom: 10px;
}


.row.bottom-row{
  justify-content: center;
  /* padding-top: 20px; */
}

/* .navbar.navbar-expand-sm.navbar-light.bg-light{
  background-color: grey;
} */
.navbar{
  background: #5D6D7E;
}
/* .collapsed.list-group.list-group-horizontal{
  background-color: red;
  border-top: 1px solid #ddd;
  border-radius: 0;

} */

/* add new breakpoint to fix width problem */
li.list-group-item {
  border-top: none;
  border-bottom: none;
  width: calc(100%/9)!important;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

/* #underline-list{
  width: 100% !important;
} */